.register{
    border: 1px solid  ;
    border-radius: 30px;
    padding: 14px 40px;
    margin-right: 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #FC832C;
    color: #FBFBFB;
    cursor: pointer;
    transition: 0.3s;
}
.register:hover{
    background-color: #F37113;
}