.login{
    border: 1px solid  ;
    border-color: rgb(25, 26, 21,0.2);
    border-radius: 30px;
    padding: 14px 39px;
    margin-right: 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    background-color: #FBFBFB;
    color:  #191A15;
    cursor: pointer;
}
